@media (min-width: 992px) {

.navbar-brand{
    font-family: 'Viga',sans-serif;
    font-size: 32px;
}
    
.navbar-brand, .nav-link{
     color: white !important ;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
}
    
 .nav-link{
    margin-right: 30px;
    text-transform: uppercase;
}

.jumbotron{
    background-image: url(../img/Bg.jpg);
    background-size: cover;
    background-position: 0px -200px;
    height: 620px;
    margin-top: -75px;
}

.jumbotron h1{
    font-size: 62px;
}

.jumbotron img{
    margin-top: 50px;
}

#about{
    height: 300px;
}

#portfolio{
    background-image: url(../img/Bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -200px;
    height: 500px;
    color: white;
}

}
/* Responsive Line */

.jumbotron{
    background-image: url(../img/Bg.jpg);
    background-size: cover;
    height: 520px;
}

.jumbotron h1{
    font-size: 50px;
    margin-top: 30px;
    color: white;
}
