@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Merienda:400,700|Oleo+Script:400,700&display=swap');

.navbar{
    height: unset;
    background-color: white;
}

.navbar-brand{
    height: 35px;
    margin-top: 20px;
    font-family: 'Lily Script One', cursive;
    letter-spacing: 3px;
}

#particles-js{
    background: url(../img/BackJumbotron.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position-y: -500px;
    height: 1200px;
    color: white;
    text-shadow: 1px 1px 3px #000;
    overflow: hidden;
    margin-bottom: -690px;
}

.skill h1{
    font-family: 'Oleo Script', cursive;
}

.skill p{
    font-family: 'Merienda', cursive;
}

.skill img{
    width: 45px;
    height: 45px;
    padding: 8px;
    filter: drop-shadow(2px 2px 3px #000);
    -webkit-filter: drop-shadow(2px 2px 3px #000);
}

.skill{
    position: absolute;
    margin: auto;
    margin-top: 120px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.resume{
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: #ccc 1px solid;
    padding: 5px;
    border-radius: 8px;
}

.linegra{
    background-color: transparent;
    background-image: url(../img/linegra.png);
    height: 200px;
    margin-top: -200px;
    position: relative;
}


.modal-body{
    width: 100%;
    height: 1100px;
    background-image: url(../img/resume.png);
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
.fixed-top{
    height: 50px;
}

.navbar-brand{
    height: 50px;
    margin-top: 25px;
    font-family: 'Lily Script One', cursive;
    letter-spacing: 3px;
}

.nav-item{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}

#particles-js{
    background: url(../img/BackJumbotron.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position-y: -500px;
    height: 605px;
    color: white;
    text-shadow: 1px 1px 3px #000;
    overflow: hidden;
    margin-bottom: unset;
}

.skill{
    position: absolute;
    margin: auto;
    margin-top: 80px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.skill h1{
    font-family: 'Oleo Script', cursive;
}

.skill p{
    font-family: 'Merienda', cursive;
}

.skill img{
    width: 45px;
    height: 45px;
    padding: 8px;
    filter: drop-shadow(2px 2px 3px #000);
    -webkit-filter: drop-shadow(2px 2px 3px #000);
}

.linegra{
    background-color: transparent;
    background-image: url(../img/linegra.png);
    height: 200px;
    margin-top: -200px;
    position: relative;
}

.resume{
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: #ccc 1px solid;
    padding: 5px;
    border-radius: 8px;
}

.resume:hover{
    background-color: white;
    color: black;
}

.modal-body{
    width: 100%;
    height: 1100px;
    background-image: url(../img/resume.png);
    background-position: center;
    background-size: cover;
}

#project h1{
    margin-bottom: 50px;
}

.card{
    -webkit-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.5);
    box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.5);
}


.card img{
    width: 100%;
    height: 150px;
    margin-bottom: -10px;
}


}
