.navbar-brand{
    font-family: 'Viga',sans-serif;
}

.jumbotron{
    background-image: url(../img/Bg.jpg);
    background-size: cover;
    height: 567px;
    overflow: hidden;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: .4;
}

.jumbotron img{
    margin-top: 60px;
}

.jumbotron h1{
    font-size: 50px;
    margin-top: 30px;
    color: white;
}

.jumbotron p{
    color: white;
}

#portfolio{
    background-image: url(../img/Bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 580px;
    color: white;
}

.gallery img{
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
}

.navbar{
    background-color: white;
}




    /* Responsive Line */
    @media (min-width: 992px) {

    .navbar{
        background-color: rgba(0,0,0,0);
    }

    .navbar-brand{
        font-family: 'Viga',sans-serif;
        font-size: 32px;
    }

    .navbar-brand, .nav-link{
         text-shadow: 1px 1px 1px rgba(0,0,0,0.4)
    }

    .nav-link{
        color: rgb(19, 18, 18) !important;
        margin-right: 30px;
        text-transform: uppercase;
    }

    .jumbotron{
        background-image: url(../img/Bg.jpg);
        background-size: cover;
        background-position: 0px -200px;
        height: 737px;
        margin-top: -75px;
        overflow: hidden;
    }

    .jumbotron h1{
        font-size: 62px;
    }

    .jumbotron img{
        margin-top: 120px;
    }

    #about{
        height: 480px;
    }

    #about img:hover{
        transition: 0.5s;
        transform : scale(1.17);
        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.25);
    }

    #portfolio{
        background-image: url(../img/Bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: 0 -200px;
        height: 480px;
        color: white;
    }

    #portfolio h1{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #portfolio img{
        width: 250px;
        height: 200px;
    }

    .gallery img {
        width: 180px;
        margin-left: 15px;
        padding: 5px;
        filter: grayscale(100%);
        transition: 2s;
    }

    .gallery img:hover{
        filter: grayscale(0);
    }

    #contact{
        height: 610px;
    }

    #contact h1{
        padding-top:40px;
        padding-bottom:40px;
    }

    }